PORT=3000
DATABASE_URL=mongodb://localhost:27017/innovault
JWT_SECRET=supersecurejwtsecret123
# AWS S3 Config (Optional for Local Dev)
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_BUCKET_NAME=innovault-bucket
AWS_REGION=ap-south-1
